<form action="/" method="POST" enctype="multipart/form-data">
{{form.csrf_token}}<br/>
{{form.image.label}}{{form.image}}<br/>
{{form.generations.label}}{{form.generations}}<br/>
{{form.attempts.label}}{{form.attempts}}<br/>
{{form.threads.label}}{{form.threads}}<br/>
{{form.distanceCalculator.label}}{{form.distanceCalculator}}<br/>
{{form.drawer.label}}{{form.drawer}}<br/>
{{form.generations_per_save.label}}{{form.generations_per_save}}<br/>
<input type="submit" value="Submit">
</form>
{%if form.errors%}
    {%for error in form.errors%}
        <p style="color:red">{{error}} </p>
    {% endfor %}
{%endif%}
